{% extends "layout.njk" %}

{% block content %}

    <div class="card table-container">

        <div class="header">
            <a href="/instructors/create" class="createInstructor">Novo</a>
            <form action="/instructors" method="get">
                <input 
                type="text"
                name="filter"
                placeholder="Nome ou Atendimento"
                value="{{filter}}"
                >
                <button type="submit">Filtrar</button>
            </form>
            
        </div>

        <table width="100%">
            <thead>
                <tr>
                    <th>Instructor</th>
                    <th>Atendimento</th>
                    <th>Alunos</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                {% for instructor in instructors %}
                    <tr>
                        <td>
                            <span style="background-image: url({{ instructor.avatar_url }})"></span>
                            {{instructor.name}}
                        </td>
                        <td>{{instructor.services}}</td>
                        <td>{{instructor.total_students}}</td>
                        <td>
                            <a href="/instructors/{{ instructor.id }}">
                                <img src="https://img.icons8.com/fluent/48/000000/edit.png"/>
                            </a>
                        </td>
                        <form id="form-delete" action="/instructors?_method=DELETE" method="post">
                            <td>
                                <input type="hidden" name="id" value={{instructor.id}}>
                                <button style="cursor: pointer">
                                    <img src="https://img.icons8.com/fluent/48/000000/delete-sign.png"/>
                                </button>
                            </td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}