{% extends "layout.njk" %}

{% block content %}

  <section class="cards">

    <div class="card_detail" id="{{item.id}}">
      <div class="card-image detail">
        <img src="{{item.image}}" alt="{{item.title}}">
      </div>
      <div class="card-title_detail">
        <h1>{{item.title}}</h1>
      </div>
      <div class="card-author detail">
        <p>{{item.author}}</p>
      </div>
      <div class="card-ingredients detail">
        <h1>Ingredients</h1>
        <ul>
          {% for ingredient in item.ingredients %}
            <li>{{ingredient}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="card-preparation detail">
        <h1>Preparation</h1>
        <ul>
          {% for preparation in item.preparation %}
            <li>{{preparation}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="card-information detail">
        <h1>Info</h1>
        <p>{{item.information}}</p>
      </div>
    </div>

  </section>

  <script src="/scripts.js"></script>

{% endblock %}